html,
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(112, 112, 176, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}

div {
  width: 80%;
  margin: 1rem auto;
  background: #ffffff;
  padding: 1.5rem;
}

h1 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #c6c6c6;
}

p {
  padding: 1.5rem;
  border: 1px solid #c6c6c6;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

table th,
p {
  font-size: 1.3rem;
}

table th,
table td {
  border: 1px solid #c6c6c6;
  padding: 0.2rem;
  text-align: center;
}
